#App-name {
  font-size: 50px;
  font-weight: 700;
  margin: 20px;
  margin-bottom: 30px;
}

input {
  width: 100%;
}


.item-container {
  text-align: left;
}

.my-row {
  font-size: 18px;
  margin-bottom: 15px;
}

.my-col {
  text-align: left;
  width: 70px;
}

.my-button {
  width: 71px;
}